<% include header %>

  <div id="bg">
    <img src="/img/terra.jpg" alt="">
  </div>

  <div class="info">
    <img id="icone" src="" alt="">
    <h1 id="titulo" class="titulo">Qual a sua cidade?</h1>
  </div>

  <form class="pure-form">
    <fieldset>
      <input type="text" name="cidade" id="cidade" placeholder="Cidade" autofocus required>
      <input type="submit" class="pure-button pure-button-primary" value="Ir">
    </fieldset>
  </form>

<% include footer %>
